%section.server
  %header.actions
    %h2= "#{@server.name}"
  .row
    .span5.columns
      #cpu_chart.chart
    .span5.columns
      #memory_chart.chart
    .span5.columns
      #load_chart.chart
    %input{:type => "hidden", :class => "cpu", :value => @server.cpu}
    %input{:type => "hidden", :class => "memory", :value => @server.memory}
    %input{:type => "hidden", :class => "load", :value => @server.load}
  .row.middle
    .span8.columns.filesystems_misc
      .filesystems
        %h4 Filesystems
        - unless @server.filesystems.empty?
          - @server.filesystems.each do |fs|
            %fieldset.filesystem
              %input{:type => "hidden", :class => "name", :value => fs.name}
              %input{:type => "hidden", :class => "usage", :value => fs.usage}
              %input{:type => "hidden", :class => "total", :value => fs.total}
            .chart
              %h6= "#{fs.name} Usage"
              %div{:id => "#{fs.name}_chart"}
        - else
          %fieldset.filesystem
            .alert-message.block-message.info{:style => "text-align:center"}
              %p
                (No filesystems being monitored)
    .span8.columns.processes_hosts
      .processes
        %h4 Monitored Processes
        %table.common-table.zebra-striped.tablesorter
          %thead
            %tr
              %th.header.green Name
              %th.header.green CPU
              %th.header.green Memory
          %tbody
            - unless @server.processes.empty?
              - @server.processes.each do |ps|
                %tr
                  %td= ps.name
                  %td= "CPU: #{ps.cpu}"
                  %td= "Memory: #{ps.memory}"
            - else
              %tr
                %td.empty-table{:colspan => 3} (No processes being monitored)
      .hosts
        %h4 Monitored Hosts
        %table.common-table.zebra-striped.tablesorter
          %thead
            %tr
              %th.header.blue Name
              %th.header.blue Status
              %th.header.blue Response Time
          %tbody
            - unless @server.hosts.empty?
              - @server.hosts.each do |host|
                %tr
                  %td= host.name
                  %td= host.status
                  %th= host.response_time
            - else
              %tr
                %td.empty-table{:colspan => 3} (No hosts being monitored)
  .row
    .span16.columns.trends
      %h4 Resource Trends
  .row.trends
    .span5.columns
      %h6 CPU Trend
      %input{:type => "hidden", :class => "cpu_trend", :value => @server.resource_records.map(&:cpu).join(",")}
      #cpu_trend_chart
    .span5.columns
      %h6 Memory Trend
      %input{:type => "hidden", :class => "memory_trend", :value => @server.resource_records.map(&:memory).join(",")}
      #memory_trend_chart
    .span5.columns
      %h6 Load Trend
      %input{:type => "hidden", :class => "load_trend", :value => @server.resource_records.map(&:load).join(",")}
      #load_trend_chart

- content_for :javascripts do
  %script{:src => "/javascripts/jquery.tablesorter.min.js"}
  :javascript
    $('table.tablesorter').tablesorter();

