#welcome.alert-message.block-message.success
  %p
    %strong Welcome to MonitMonit!
    %p
      It's #{Time.now.strftime("%A %e %B %Y")}, and you're monitoring #{Server.count} servers.
      %br
      %strong Enjoy!
- if @servers.empty?
  .alert-message.block-message.error
    %h5 Uh oh, an error!
    %p
      You need to set up at least one Monit server before I can display information here!
    %p
      %a.btn.small{:href => "/servers"} Go to Servers
- @servers.each do |server|
  %section.server.overview{:id => server.id}
    %header.actions
      %h2= "#{server.name}"
    - if !server.error.nil?
      .alert-message.block-message.error
        %h4 Fail...
        %p
          Last time data was gathered from Monit, something went wrong. The error message was
          %code= server.error.message
          - if server.error.created_at
            (This error was lodged at #{server.error.created_at})
        %h5 What do I do?
        %p
          If you have just added the server, re-check that your Monit config is correct. You may want to try visiting
          %a{:href => server.url, :target => '_blank'} the Monit webpage
          for this server to make sure that it is accessible.
        %p
          If the error message doesn't look like it's something to do with accessing this instance, then you may have uncovered a bug! Lodge a report on
          %a{:href => "https://github.com/joshmcarthur/monit-monit/issues"} the Issue Tracker
          \.
    - else
      .row
        .span4.columns
          %label.overview_resource CPU
          %h3.cpu= server.cpu.to_s + "%"
          .cpu_chart
        .span4.columns
          %label.overview_resource Memory
          %h3.memory= server.memory.to_s + "%"
          .memory_chart
        .span4.columns
          %label.overview_resource Load
          %h3.load= server.load.to_s
          .load_chart
        .span4.columns
          %h2.uptime
            \---
          %input{:type => "hidden", :class => "uptime", :value => server.uptime}
          %a.btn.large.success{:href => "/server-detail/#{server.id}"}
            Server Details
      %input{:type => "hidden", :class => "cpu", :value => server.cpu}
      %input{:type => "hidden", :class => "memory", :value => server.memory}
      %input{:type => "hidden", :class => "load", :value => server.load}


- content_for :javascripts do
  :javascript
    doCountdown();

