#welcome.alert-message.block-message.success
  %p
    %strong Welcome to MonitMonit!
    %p
      It's #{Time.now.strftime("%A %e %B %Y")}, and you're monitoring #{Server.count} servers.
      %br
      %strong Enjoy!
- @servers.each do |server|
  %section.server{:id => server.id}
    %header.actions
      %h2= "#{server.name}"
    .row
      .span4.columns
        #cpu_chart
      .span4.columns
        #memory_chart
      .span4.columns
        #load_chart
      .span4.columns
        %h2.uptime
          = "#{server.uptime} seconds"
        %a.btn.large.success{:href => "/server-details?id=#{server.id}"}
          Server Details
    %input{:type => "hidden", :class => "cpu", :value => server.cpu}
    %input{:type => "hidden", :class => "memory", :value => server.memory}
    %input{:type => "hidden", :class => "load", :value => server.load}


- content_for :javascripts do
  :javascript
    doCountdown();

